/* Nav */
.bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 32%;
  right: 32%;
  background-color: #896657;
  border-radius: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  box-sizing: border-box;
  z-index: 2;
  padding: 0 15px;
  padding-bottom: env(safe-area-inset-bottom);
}

.buttons-menu {
  display: flex;
  list-style: none;
  gap: 60px;
  justify-content: space-between;
}

/* Tabs */
.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex: 1;
  height: 100%;
  padding: 10px;
  min-width: 40px;
  border-radius: 18px;
  transition: background 0.2s;
}

.nav-tab.active {
  background: #bf9989;
}

.tab-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
