/* Imports */
@import "top-nav.css";
@import "bottom-nav.css";

/* Core */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background: #fdebd9;
  padding: 20px;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and older */
  user-select: none; /* Standard syntax (Chrome, Firefox, Edge) */
}
